<h1>New User Form</h1>
<%= form_for @user do |f| %>
<%= f.text_field :first_name, "placeholder"=>"first name" %><br />
<%= f.text_field :last_name, "placeholder"=>"last name" %><br />
<%= f.text_field :email, "placeholder"=>"email"  %><br />
<%= f.password_field :password, "placeholder"=>"password"  %><br />
<%= f.submit %>
<% end %>