<div class="back-button">
<%= link_to 'Back', action: 'index', :class => "back-button" %>
</div>

<!--%=#button_to'Delete Megging', megging_path(@megging), {method: :delete} %-->
<div class = "container">
<div class="row">
  <div class="col-xs-12 col-md-6">
	<dd><%= image_tag @item.photo_url, size: '400x500' %></dd>
  </div>
  <div class="col-xs-6 col-md-4">
	<dt>Name</dt>
		<dd><%= @item.name %></dd>

	<dt>Color</dt>
		<dd><%= @item.color %></dd>

	<dt>Size</dt>
		<dd><%= @item.size %></dd>


	<dt> Price</dt>
		<dd><%= @item.price %></dd><br />

	
		<%=form_for @shopping_cart_item, {url: shopping_cart_items_path} do |f| %>
			<%=f.hidden_field :item_id, value: @shopping_cart_item.item_id %>
			<%#=f.hidden_field :item_id, value: @shopping_cart_item.shopping_cart_id %>
      <h4>
      XS <%=f.radio_button :size, "XS" %> S <%=f.radio_button :size, "S" %>  M <%=f.radio_button :size, "M" %> L <%=f.radio_button :size, "L" %> XL <%=f.radio_button :size, "XL" %></h4>
       <div class="col-xs-3">
      <%=f.label :Quantity %>
      <%=f.text_field :quantity %><br />
  </div>
    <div>
			<p><%=f.submit "Add Item to Shopping Cart" %></div>

    

		<%end%>

  </div>
</div>


</div>
