<div class= "navbar ">
    <div class="logo"><h1 class="navbar-text navbar-left logo"><%= link_to "Manx", root_path, :class => "logo" %><br /></h1></div>
    <h4 class="navbar-text navbar-center nav-links"><%= link_to "Shop", items_path, :class =>"shop" %>
    </h4>
    <h4 class="navbar-text navbar-center nav-links"><%= link_to "About", items_path, :class =>"shop" %>
    </h4>
    <h4 class="navbar-text navbar-center nav-links"><%= link_to "Share", items_path, :class =>"shop" %>
    </h4>

	<p class="navbar-text navbar-right"> 
    <% if current_user %>
   		<%= link_to 'Sign Out', root_path, method: :delete, :class => "navbar-link" %>

	   </p>
 	    <p class="navbar-text navbar-right">

      <%= current_user ? "Hello #{current_user.first_name.try(:capitalize)}!": "" %><br />
        
      <%#= "Welcome " + current_user.username + "!" %>
    </p>
    <% else  %>				
      <p class="navbar-text navbar-right"> <%= link_to 'Sign in  | Sign Up',"#", class: "navbar-link", 'data-toggle' =>"modal", 'data-target'=>"#signin" %></p>
    <% end %>
  <p class="navbar-text navbar-right sc-glyphicon">
        <span class="glyphicon glyphicon-shopping-cart"></span>
          
            <%=link_to @shopping_cart.shopping_cart_items.count.to_s + " item(s)", edit_shopping_cart_path(@shopping_cart), :class => "navbar-link" %>
        </p>

</div>
<%= render partial: "welcome/signin" %>
